<div class="flex items-center justify-center bb-gradient">
  <h1 class="text-white font-brand font-bold text-3xl">
    Instantly share Elixir code, notes, and snippets.
  </h1>
</div>

<.live_component module={GistFormComponent} id={:new} current_user={@current_user} />
